<div class="collapse bg-inverse" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 py-4">
        <h4 class="text-black">About My Portfolios</h4>
        <p class="text-muted">There are some projects that I created for practice coding and testing that I learnt from professional online classes.</p>
      </div>
      <div class="col-sm-4 py-4">
        <h4 class="text-black">Explore</h4>
        <ul class="list-unstyled">
          <%= nav_helper 'text-dark', 'li' %>
          <li><%= login_helper 'text-dark' %></li>        
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-inverse bg-inverse">
  <div class="container d-flex justify-content-between">
    <%= link_to "Huyen Ha", root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>